<h1>Restaurants</h1>
<%= link_to 'manage restaurants', '/admin' %>
<ul>
<% @restaurants.each do |restaurant| %>
  <li>
    <%= link_to restaurant, restaurant_path(restaurant) %>
  </li>
<% end %>
</ul>
