<div class="row">
  <h1><%= @restaurant.name %></h1>
</div>
<div class="row">
  <div class="columns medium-6">
    <p>
      <%= @restaurant.description %>
    </p>
  </div>
  <div class="columns medium-6">
    <h3>Comments</h3>
    <%= isomorphic('CommentSection', 'cs', {restaurant_id: @restaurant.id, comments: render(template: 'comments/index.json.jbuilder')} ) %>
  </div>
</div>
